<section class="item">
    <h2>{{name}}</h2>
    <div class="item-body">
      {{#if type}}
        <p class="indent-wrapped"><span class="type">type: </span>{{type}}</p>
      {{/if}}
      {{#if quantity}}
        <p class="indent-wrapped"><span class="amount">amount: </span>{{quantity}} {{unit}}</p>
      {{/if}}
    </div>
    <div class="edit-button" ><a href="/track/{{id}}">Edit</a></div>
</section>
